*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}
body{
    background-color: rgba(255, 255, 255, 0.874);
    width: 100vw;
}
.header{
    height: 100vh;
    background-image: url(resources/images/BackImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.612);
    height: 100%;
    width: 100%;
    color: white;
}
.header .topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.header .topbar #languages{
    height: 30px;
    width: 100px;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    border-radius: 3px;
}
.header .topbar #BtnSingIn{
    color: white;
    background-color: transparent;
    width: 100px;
    height: 30px;
    background-color: red;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 0px solid blanchedalmond;
    margin: 0 10px;
}
.overlay .box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 80px;
}
.box1 .mainheadding{
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
}
.box1 h1{
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 10px;
}
.box1 h3{
    font-size: 1.2rem;
    margin: 10px 0;
}
#email{
    width: 350px;
    font-size: 1.5rem;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 16px;
    color: white;   
}
#email::placeholder{
    color: rgb(206, 203, 203);
}
#BtnGetStarted{
    width: 200px;
    height: 56px;
    border: 0px solid ;
    background-color: red;
    border-radius: 5px;
    margin: 10px;
}
#BtnGetStarted pre{
    color: white;
    font-size: 2rem;
}
.box1 .box2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mainpart .box1{
    display: flex;
    margin-top: 20px;
}

.mainpart .box1 .gallerycontenor{
    overflow: hidden;
    width: 88%;
}
.box1 .gallery{
    display: flex;
}
.gallery .card{
    height: 250px;
    min-width: 200px;
    background-color: lightblue;
    margin: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 7px 7px 8px 7px rgba(17, 18, 18, 0.553);
}
.card h1{
    font-size: 4rem;
    position: absolute;
    bottom: -5px;
    left: 10px;
    color: red;
}
.card img{
    border-radius: 5px;
}
#BtnLeftAero,#BtnRightAero{
    width: 40px;
    height: 100px;
    align-self: center;
    margin: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: whitesmoke;
    background-color: rgba(92, 91, 91, 0.399);
    border: 0;
    border-radius: 13px;
}
.mainpart .box2{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.mainpart .box2 .card{
    background-color: rgb(111, 109, 107);
    height: 250px;
    width: 300px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 5px;
    padding: 10px;
    position: relative;
}
.mainpart .box2 .card span{
    font-size: 2rem;
    display: block;
    margin: 10px;
    text-align: center;
    color: white;
}
.mainpart .box2 .card p{
    font-size: 1.3rem;
    margin: 10px;
    color: rgb(216, 207, 207);
}
.mainpart .box2 .card img{
    font-size: 1.3rem;
    margin: 10px;
    color: rgb(216, 207, 207);
    position: absolute;
    bottom: 0;
    right: 5px;
}
.mainpart .box3{
    width: 90vw;
    margin: auto;
}
.mainpart .box3 .heading{
    font-size: 2.2rem;
    font-weight: 700;
}
.mainpart .box3 .qustion{
    background-color: gray;
    height: 80px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.mainpart .box3 .qustion span{
    font-size: 1.5rem;
    color: white;
}
.mainpart .box3 .qustion span:last-child{
    font-size: 5rem;
}
.mainpart .box4{
    text-align: center;
    margin-top: 5em;
}
.mainpart .box4 .head{
    font-weight: 700;
}
.mainpart .box4 .inerbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inerbox #secendemail{
    width: 400px;
    height: 45px;
    margin: 10px;
    padding: 8px;
    font-size: 1.5rem;
    border-radius: 8px;
}
.inerbox #BtnSubmit{
    height: 45px;
    margin: 10px;
    width: 150px;
    border: 0;
    color: white;
    background-color: orangered;
    border-radius: 8px;
}
.inerbox pre{
    font-size: 1.5rem;
}
footer {
    width: 90vw;
    margin: auto;
    padding: 5px;
}
footer .box1{
    font-size: 1.4rem;
    margin: 10px 0;
}
footer #footerlanguages{
    height: 30px;
    width: 100px;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 3px;
    margin: 10px 0;
}
footer .box2 .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .box2 .card span{
    width: 265px;
    margin: 5px 0;
}
footer .box2 .card a{
    color: black;
}
footer .box2 .card a:hover{
    color: orangered;
}
footer .box4{
    font-size: 1.4rem;
    margin: 10px 0;
}




/* media querys to responshiv website*/
@media only screen and (max-height: 570px) {
    .header{
        height: auto;
        padding-bottom: 30px;
    }
    .box1 h1{
        margin-bottom: 10px;
    }

}
@media only screen and (max-width: 818px) {
    .box1 .mainheadding{
        font-size: 4rem;
    }
    .box1 h1{
        margin: 0;
    }
}
@media only screen and (max-width: 654px) {
    .box1 .mainheadding{
        font-size: 3rem;
    }
    .box1 h1{
        font-size: 1.2rem;
        margin: 0;
    }
}
@media only screen and (max-width: 494px) {
    .box1 .mainheadding{
        font-size: 2rem;
    }
    #email{
        width: 100%;
    }
}
@media only screen and (max-width: 300px) {
    .overlay .topbar{
        width: 95%;
    }
    .overlay .box1{
        width: 95%;
    }
}